.cig {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    color: navy;
    text-indent: 30px;

}


.haha {
    border: 1px solid rgb(112, 22, 22);
    padding: 70px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 800px;
    margin-top: -320px;

    width: 40%;
}